<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Dropbox Clone{% endblock %}</title>
        
        <!-- Favicon -->
        <link href="/static/assets/img/brand/favicon.png" rel="icon" type="image/png">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- Icons -->
        <link href="/static/assets/vendor/nucleo/css/nucleo.min.css" rel="stylesheet">
        <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
        <link href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Argon CSS -->
        <link type="text/css" href="/static/assets/css/argon.min.css" rel="stylesheet">


        </head>
    <body>
        <div class="container" style="padding:0px; margin:0px; font-family: Oswald;">
        {% if request.user.is_authenticated %}
        {% include 'navbar.html' %}
        {% endif %}

        <div class='main-content'>
            {% block content %}
            {% endblock %}
        </div>
        </div
        <footer>
            {% include 'footer.html' %}
        </footer>


        
        <!-- Core -->
        <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Argon JS -->
        <script src="/assets/js/argon.min.js"></script>
    </body>
</html>