<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}"Dropii, Your Storage In The Cloud."{% endblock %}</title>
        
        <!-- Favicon -->
        <link href="/static/assets/img/brand/favicon.png" rel="icon" type="image/png">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- Icons -->
        <link href="/static/assets/vendor/nucleo/css/nucleo.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">

        <!-- Argon CSS -->
        <link type="text/css" href="/static/assets/css/argon.min.css" rel="stylesheet">

    </head>
    <body>
        {% include 'navbar.html' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16" style="margin-left: 93%;">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
          </svg>

        <div class='main-content'>
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% include 'footer.html' %}
        </footer>


        
        <!-- Core -->
        <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Argon JS -->
        <script src="/assets/js/argon.min.js"></script>
    </body>
</html>