<head>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

</head>

<body>
    <p></p>
    <a href="/files/">|Files|</a> 
    <a href="/upload/">|Upload|</a> 
    <a href="/favorites/">|Favorites|</a>
    <a href="/logout/">|Logout|</a>
 
    <!-- <button type="submit" onclick='location.href="/logout/"'>Logout</button> -->
    <h1>{{ heading|default:"Favorites" }}</h1>
    <h3>Favorites:</h3>
    
    <ul>
        {% for favorite in favorites %}
            <li><a href="/media/{{ favorite.upload }}/">{{ favorite.title }}</a></li>
        {% endfor %}
    </ul>

    <p>

    </p>

</body>