{% extends 'base.html' %}

{% block title %}Favorites{% endblock title %}

{% block content %}
 
    <h1>{{ heading|default:"Favorites" }}</h1>
    <h3>Favorites:</h3>
    
    <ul>
        {% for favorite in favorites %}
            <span><img style="width: 25px; height: 25px;"
                alt="Image description"
                src="{{favorite.upload.url}}"/></span>
            <span><a href="/media/{{ favorite.upload }}/">{{ favorite.title }}</a></span>
        {% endfor %}
    </ul>
{% endblock content %}