<h1> File List </h1>
 {% csrf_token %}
{{MEDIA_URL}}
<a href="{% url "Upload" %}" type="button"> Upload File</a>

 <h1>Last three</h1>
  {% for file in recent %}
{% comment %} {{file.upload.url}}  {% endcomment %}
{{file.model.upload}}
{% endfor %}

<h1>All Files</h1>


 {% for file in files %}
<ul>

   <li>
<p><img style="width: 245px; height: 247px;"
alt="Image description"
 src="{{file.model.upload.url}}"/></p>
<p>Title:{{file.model.title}}</p>
<p>Date: {{file.upload.date_time}}</p>
<p>File Size:{{file.model.upload.size}}</p>
 </li>

     </ul>

    

   
<form method="post" action="{% url 'delete_file' file.pk %}">
{% csrf_token %}
<button type="submit">Delete</button></a>
</form>
{% endfor%}

{% comment %} {% for file in deleted %}  
<form method="post" action="{% url 'delete_file' %}">
{% csrf_token %}
<button type="submit">Delete</button></a>
</form> {% endcomment %}
{% comment %} <a href="{% url 'delete_file' deleted.pk %}"> {% endcomment %}

{% comment %} {%endfor%}  {% endcomment %}
