{% extends 'base.html' %}

{% block content %}
<div style=" margin:auto;" >
<form type="get" style="margin-left:500px;" >
  <input id="search_box" type="text" name="search" placeholder="Search..." />
  <button id="search_submit" type="submit" class="btn" ><i class="fa fa-search"></i></button>
</form>
{% for file in all_search_results %}
{% if all_search_results %} 

  <div class="card" style="width: 18rem;">
    <img src="{{file.upload.url}}" class="card-img-top" alt="{{file.title}}" />
    <div class="card-body" style="font-family: Oswald;">
    <h5 class="card-title" style="font-family: Oswald;"><a href='{{file.upload.url}}'>{{file.title}}</a></h5>
    <p class="card-text">{{file.date_time}}</p>
    <p><a href="http://127.0.0.1:8000/favorite/{{ file.id }}" class="btn btn-primary">Favorite</a></p>
    </li>
  </ul>
  </div>
  <div>

 {% else %}
<h3>Try Again</h3>
{% endif %}
{% endfor%}


<div class="col-md-8" style="display: block;
  width: 60px;" >

 <h1 style="padding-left:300px">Recents</h1>
 
<div class="recent" style=" width: 45rem; padding: 40px; ">
<div class="row">
{% for file in recent %}
<div class="col-md-4">

  <img src="{{file.upload.url}}" class="card-img-top" style=" height: 10rem;" alt="{{file.title}}" />
            <div class="card-body">
            <center><h3 class="card-title"><a href='{{file.upload.url}}'>{{file.title}}</a></h3>
            <p class="card-text" style="font-size:12px;">{{file.date_time}}</p> </center>      
  
          </div>
          </div>
{% endfor %}
</div>
</div>

   {% for file in files %}
     
         <div class="card" style="width: 50rem;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <span><img style="width: 25px; height: 25px;"
                  alt="{{file.title}}"
                  src="{{file.upload.url}}"/></span>
               <span><a href='{{file.upload.url}}'>{{file.title}}</a></span>
               <span>{{file.date_time}}</span>
               {% if file in favorites  %}
               
               <a href="http://127.0.0.1:8000/favorite/{{ file.id }}" class="btn" ><i class="fa fa-heart" style="color:red;"></i></a>
               
                {% else %}
              <a href="http://127.0.0.1:8000/favorite/{{ file.id }}" class="btn" ><i class="fa fa-heart"></i></a>

              {% endif %}
               <a href="{{file.upload.url}}" download="{{file.upload.url}}" class="btn" ><i class="fa fa-download"></i></a>
            
                  <form method="post" action="{% url 'delete_file' file.pk %}" style="display: inline;">
                      {% csrf_token %}
                  <button type="submit" class="btn"><i class="fas fa-trash"></i></button></a>
                  </form>
               
            </li>
            </ul>
            </div>
           
   {% endfor %}

   </div>
</div>


{% endblock %}

