<head>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

</head>


<body>
    <button type="submit" onclick='location.href="/logout/"'>Logout</button>
    <h1>{{ heading|default:"Uploads" }}</h1>
    <h3>Uploads:</h3>

    <ul>
        <!-- {% for item in recipes %}
            <li><a href="/recipes/{{ item.id }}/">{{ item.title }}</a></li>
        {% endfor %} -->
    </ul>

    <!-- <a href="/addauthor/">Add Author</a> -->

    <p>

    </p>

    <!-- <a href="/addrecipe/">Add Recipe</a> -->

</body>