{% extends 'base.html' %}

{% block stylesheets %}
  <style>
    body {
      background-color: #9bd4bb;
    }
  </style>
{% endblock stylesheets %}

{% block content %}

{% comment %} 
<div>
<form action="" method="post">
  {% csrf_token %} 
  {{ form.as_p }}
  <input type="submit" value="Submit!" class="btn btn-primary"/>
</form>
</div> {% endcomment %}

{% comment %} {% if heading == 'Sign Up below' %}
  <p>Already a user? <a href='/login/'>Login.</a></p>
{% endif %}

{% if heading == 'Login below' %}
  <p>Not a user? <a href='/signup/'>Sign up.</a></p>
{% endif %} {% endcomment %}

<div class="container mt--8 pb-5" style="position: relative;top: 200px;">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
        
          <div class="card bg-gray shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1>Login</h1>
              </div>


                <form action='' method="POST">

                  {% csrf_token %}
            
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="color: black;"><i class="ni ni-email-83" style="width: 80px;"> Email: </i></span>
                      </div>
                      {{ form.email }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.email.errors }}</span>

                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="color: black;"><i class="ni ni-lock-circle-open" style="width: 80px;"> Password: </i></span>
                      </div>
                      {{ form.password }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.password.errors }}</span>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Login</button>
                  </div>
                </form>
                <div class="text-center mt-3">
                    <span class="text-dark">Don't have an account? <a href="/signup/" class="text-red">Sign Up</a></span>
                </div>
  
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


{% endblock %}
