{% extends 'base.html' %}

{% block stylesheets %}
  <style>
    .container {
      position: relative;
      top: 200px;
    }

    .form-group {
      width: 320px;
      margin: auto;
    }
  </style>
{% endblock stylesheets %}

{% block content %}

<div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8" style="max-width: 100%;">
        
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1>Login</h1>
              </div>


                <form action='' method="POST">

                  {% csrf_token %}
            
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83" style="width: 80px;color: black;"> Email: </i></span>
                      </div>
                      {{ form.email }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.email.errors }}</span>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open" style="width: 80px;color: black;"> Password: </i></span>
                      </div>
                      {{ form.password }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.password.errors }}</span>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Login</button>
                  </div>
                </form>
                <div class="text-center mt-3">
                  <span class="text-dark">New user? <a href="/signup/" class="text-red">Signup</a></span>
                </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


{% endblock %}
