
  <div class="row" padding-left: -150px;> 

   <div class="col-md-4" style="margin: 0;"  >
      <nav style="background-color:#2dce89; height: 100%; width : 100%; padding-right: 50px;  list-style: none;
   margin: 0 auto;" >
          <center><h1 style="color:white;">{{ heading|default:"Dropbox Clone" }}</h1> <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
</svg></center>
        <center>
        <h3 style="padding:40px; color:white;">Hello, {{ user.username }}.</h3>
   
      <p><a class="nav-link active" style="color:white;" href="/"><i class="fa fa-home">   Home</i></a></p>
      <p><a class="nav-link" style="color:white;" href="/search/"><i class="fa fa-search">   Search</i></a></p>
      <p><a class="nav-link" style="color:white;" href="/upload/"><i class="fa fa-upload">   Upload</i></a></p>
      <p><a class='nav-link' style="color:white;" href='/favorites/'><i class="fa fa-heart">   Favorites</i></a></p>
      <p><a class="nav-link" style="color:white;" href="/logout/"><i class="fa fa-sign-out">   Logout</i></a></p>

  </nav>
        </center>


</div>


 




<!-- <nav class="nav">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload/">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites/">Favorites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/search/">Search</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout/">Logout</a>
        </li>
      </ul>
</nav> -->

<!-- <nav class="nav">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" type="submit" onclick='location.href="/"'>Home</button>
          <button class="nav-link" id="v-pills-upload-tab" data-bs-toggle="pill" data-bs-target="#v-pills-upload" type="button" role="tab" aria-controls="v-pills-upload" aria-selected="false" type="submit" onclick='location.href="/upload/"'>Upload</button>
          <button class="nav-link" id="v-pills-favorites-tab" data-bs-toggle="pill" data-bs-target="#v-pills-favorites" type="button" role="tab" aria-controls="v-pills-favorites" aria-selected="false" type="submit" onclick='location.href="/favorites/"'>Favorites</button>
          <button class="nav-link" id="v-pills-search-tab" data-bs-toggle="pill" data-bs-target="#v-pills-search" type="button" role="tab" aria-controls="v-pills-search" aria-selected="false" type="submit" onclick='location.href="/search/"'>Search</button>
          <button class="nav-link" id="v-pills-logout-tab" data-bs-toggle="pill" data-bs-target="#v-pills-logout" type="button" role="tab" aria-controls="v-pills-logout" aria-selected="false" type="submit" onclick='location.href="/logout/"'>Logout</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
          <div class="tab-pane fade" id="v-pills-upload" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
          <div class="tab-pane fade" id="v-pills-favorites" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
          <div class="tab-pane fade" id="v-pills-search" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
          <div class="tab-pane fade" id="v-pills-logout" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
      </div>
</nav> -->