
{% if request.user.is_authenticated %}

    <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary">
        <a class="nav-link active text-secondary" href="/">Home</a> 
        <a class="nav-link text-secondary" href="/upload/">Upload</a>
        <a class='nav-link text-secondary' href='/favorites/'>Favorites</a>
        <a class="nav-link text-secondary" href="/search/">Search</a>
        <a class="nav-link text-secondary" href="/logout/">Logout</a>
        <div class="container">
            <div class="row">
                <span class="text-secondary" style="margin-left: 58rem;">Droppi</span>
            </div>
        </div>
    </nav>

{% endif %}

{% if request.user.is_authenticated == False %}

    <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary">
        <a class="nav-link active text-secondary" href="/login">Login</a> 
        <a class="nav-link text-secondary" href="/signup/">Signup</a>
        <div class="container">
            <div class="row">
                <span class="text-secondary" style="margin-left: 70rem;">Droppi</span>
            </div>
        </div>
    </nav>

{% endif %}



