{% extends 'base.html' %}

{% block content %}

<div class="container" style="width:50%; margin:auto; margin-left: 33%;">
  <h1>{{ heading|default:"Search" }}</h1>
  <form type="get" action=" ">
    <input id="search_box" type="text" name="search" placeholder="Search..." />
    <button id="search_submit" class="btn btn-primary btn-sm" type="submit">Submit</button>
  </form>
</div>
<p></p>

<div class="container" style="width:50%; margin:auto; margin-left: 33%;">
{% if all_search_results %} {% for file in all_search_results %}
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
      <img src="{{file.upload.url}}" class="card-img-top" alt="{{file.title}}" />
      <div class="card-body">
      <h5 class="card-title"><a href='{{file.upload.url}}'>{{file.title}}</a></h5>
      <p class="card-text">{{file.date_time}}</p>
      <p><a href="http://127.0.0.1:8000/favorite/{{ file.id }}" class="btn btn-primary btn-sm">Favorite</a></p>
    </div>
    </div>
  </div>
  
  
  {% endfor%} {% else %}
</div>

  <div class="container" style="width:50%; margin:auto; margin-left: 33%;">
    <h3>Try Again</h3>
  </div>
{% endif %}





{% endblock content %}
