{% extends 'base.html' %}

{% block content %}
<h1>{{ heading|default:"Search" }}</h1>

<form type="get" action=" ">
  <input id="search_box" type="text" name="search" placeholder="Search..." />
  <button id="search_submit" type="submit">Submit</button>
</form>

{% if all_search_results %} {% for file in all_search_results %}
<ul>
  
    <span><img style="width: 25px; height: 25px" alt="Image description" src="{{file.upload.url}}" /></span>
    <span>Title:<a href="{{file.upload.url}}">{{file.title}}</a></span>
    <span>Date: {{file.date_time}}</span>
 
</ul>

{% endfor%} {% else %}
<h3>Try Again</h3>
{% endif %}

{% endblock content %}
