{% extends 'base.html' %}


{% block content %}

<h1>Hello, {{ user.username }}.</h1>

    <h1>Upload File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit" />
    </form>


{% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{url}}</a><p/>
{% endif %}


{% for upload in uploads %}
    <p>Uploaded file: <a href="/media/{{ favorite.upload }}/">{{upload}}</a>
    <p/>
{% endfor %}

{% endblock %}    

